# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea
.vscode
*.sublime-project
*.sublime-workspace
.sublimelinterrc

# Grunt
/node_modules/

# Composer
/vendor/

# Local overrides
phpcs.xml
phpunit.xml
phpunit-watcher.yml
.wp-env.override.json
